
<div class="container mt-5 mb-5">

    <div class="row">

        <div class="col-lg-4" *ngFor="let cr of cardata">

            <div class="carbox mt-3 mb-3">
                <img src="{{cr.carImg}}">
                <h1>{{cr.carName}}</h1>
                <p>{{cr.carDetails}}</p>
                <p>{{cr.carPrice | currency }}</p>
                <br/>
                <a class="buybtn" [routerLink]="['/menu',cr.id]">Buy Now &nbsp;<i class="bi bi-bag"></i></a>
            </div>

        </div>



    </div>

</div>